<div class="div-body">
    <br>
    <div class="container">
        <form class="form-signin">
            <center>
                <h3 class="form-signin-heading">Inicio de Sesión</h3>
            </center>
            <br>
            <label for="inputEmail" class="sr-only">Correo Electrónico</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Dirección de Correo" required autofocus>
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
            <!--
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Recuerdame
                </label>
            </div> -->
            <br>
            <button class="btn btn-primary btn-block" type="submit">
                <i class="fa fa-user"></i> Ingresar
            </button>
            <br>
        </form>
    </div>
</div>
