	<div class="container">

		<center><h2>Editar Acerca de Nosotros</h2></center>

		<%= render 'form' %>

		<%= link_to 'Mostrar', @about, class: "btn btn-primary"  %>
		<%= link_to 'Volver al índice', abouts_path, class: "btn btn-primary"  %>

		<br><br>
	</div>