<div class="div-body">
	<div class="container">

		<h1>Nuevo About</h1>

		<%= render 'form' %>

		<%= link_to 'Volver al índice', abouts_path, class: "btn btn-primary"  %>

		<br><br>
		
	</div>
</div>