	<div class="jumbotron" style="background-color: #f2f2f2; border-bottom: 1px solid; border-color: #e6e6e6">
		<center>
		  	<h2>Acerca de Nosotros</h2>
		</center>
	</div>

	<div class="container">
		<h2>Misión</h2>
		<hr class="featurette-divider">
	 	<%= raw @about.mission %>
	</div>

	<br>

	<div class="container">
		<h2>Visión</h2>
		<hr class="featurette-divider">
	 	<%= raw @about.vision %>
	</div>

	<br>
	
	<div class="container">
		<h2>Compañía</h2>
		<hr class="featurette-divider">
	 	<%= raw @about.company %>
	</div>

	<%= render 'pages/shared/footer' %>



		
	
