body {

}

/*
.contact-container:before {
  left: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  max-height: 600px;
  z-index: -1;
  display: block;
  background-image: url("/images/robotics-workshop-3.jpg");
  background-size: 100% 600px;
  // Opacity and Contrast Filter
  -webkit-filter: opacity(70%) contrast(150%);
  filter: opacity(70%) contrast(150%);;
}

.contact-container {
  width: 100%;
  height: 600px;
  z-index: 0;
}

.div-contact {
  max-width: 430px;
  margin-left: 35%;
  margin-top: 50px;
  border: 1px solid #FFF;
  padding: 10px 60px; 
  background: #FFF;
  width: 400px;
  border-radius: 10px;
  position: absolute;
}
*/

