<p>Hola <strong><%= @resource.email %></strong>!</p>

<p>Este mensaje ha sido enviado porque se ha solicitado un cambio de contraseña. Puedes hacerlo a través del siguiente enlace:</p>

<p><%= link_to 'Cambiar mi actual contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has sido el autor de esta solicitud de cambio, por favor ignora este mensaje.</p>
<p>Tu contraseña no se cambiará hasta que accedas al enlace indicado y la restablezcas.</p>

